---
title: "Weed Control | iDesign Site Demo"
description: "Meta description for the page"
permalink: "/weed-control/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Dark Mode -->
    <link rel="stylesheet" href="/assets/css/dark.css"/>

    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/weed-control.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
    <div class="cs-container">
        <span class="cs-int-title">Weed Control</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/#services" class="cs-link cs-active">Services</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/DSC_0654.JPG">
        <source media="(min-width: 601px)" srcset="/assets/images/DSC_0654.JPG">
        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/DSC_0654.JPG" alt="boots" width="1920" height="375">
    </picture>
</div>
                                                           
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-456">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Featured</span>
            <h2 class="cs-title">Weed Control That Really Works </h2>
            <p class="cs-text">
                Our Weed Control Treatment System is designed to eliminate and prevent unwanted weeds while promoting a healthier, more vibrant lawn or garden. Using a combination of pre-emergent and post-emergent treatments, we target existing weeds and prevent new growth before it starts.
            </p>
            <a href="/weed-control#sbsr-1363" class="cs-button-solid">Keep Reading</a>
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/grass2.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/grass2.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/grass2.jpg" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1363">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/DSC_0642.JPG">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/DSC_0642.JPG">
                <img loading="lazy" decoding="async" src="/assets/images/DSC_0642.JPG" alt="spraying" width="605868" height="690">
            </picture>
            <div class="cs-box">
                <img class="cs-box-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60" height="60">
                <span class="cs-desc">
                    Over 40 Years of Experience
                </span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">What Makes Us Different</span>
            <h2 class="cs-title">Weed Control the Green Way</h2>
            <p class="cs-text">
                Our weed control service is all about precision. We target only what is necessary to deliver the right solution for a thriving lawn. We understand that every lawn is unique, which is why we tailor our approach to meet the specific needs of your outdoor space. With our weed control service, you can expect a healthier, more vibrant lawn that enhances the beauty of your property.
            </p>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/trophy.svg" alt="icon" width="32" height="32">
                        Specialized Treatments
                    </h3>
                    <p class="cs-item-text">
                         Custom solutions for every single client and every single lawn.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/circle-check.svg" alt="icon" width="32" height="32">
                        Promotes a Safer Lawn
                    </h3>
                    <p class="cs-item-text">
                        Have peace of mind with our family and pet-safe methods.
                    </p>
                </li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Fewer Weeds = Stronger Grass, meaning lawns stay green longer.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark" width="24" height="24">
                    Delivering effective results, that you can see in just 24 hours.
                </li>
            </ul>
            <a href="/" class="cs-button-solid">Get Started</a>
        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1443">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/DSC_0650.JPG">
            <source media="(min-width: 601px)" srcset="/assets/images/DSC_0650.JPG">
            <img loading="lazy" decoding="async" src="/assets/images/DSC_0650.JPG" alt="slogan" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">How it Works</span>
            <h2 class="cs-title">The Green Only Approach</h2>
            <p class="cs-text">
                Our Greenery Specialists assess your lawn’s specific needs, applying eco-friendly and highly effective herbicides that won’t harm your grass or surrounding plants. This service ensures long-term protection against invasive species, reducing the need for excessive manual weeding. With regularly scheduled treatments, we keep your outdoor space looking pristine and well-maintained year-round. Whether for residential or commercial properties, our weed control solutions create a healthier, more attractive landscape.
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Free Lawn & Soil Assessment</h3>
                        <p class="cs-li-text">
                            First, we inspect your property to determine the best treatment approach. 
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Targeted Elimination & Seasonal Treatment</h3>
                        <p class="cs-li-text">
                            A custom mix of pre-emergent and post-emergent solutions that prevents weeds from germinating with proactive, seasonally timed applications.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Lifelong Monitoring & Maintenance</h3>
                        <p class="cs-li-text">
                            Follow-up visits allow us to ensure effectiveness and create flexible treatments based on changing weed growth patterns.
                        </p>
                    </div>
                </li>
            </ul>     
            <a href="" class="cs-button-solid">Schedule Your FREE Consultation</a>        
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1152">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Check Out Our Work</h2>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/DSC_0651.JPG">
                <source media="(min-width: 601px)" srcset="/assets/images/DSC_0651.JPG">
                <img loading="lazy" decoding="async" src="/assets/images/DSC_0651.JPG" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/20231013_132749.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/20231013_132749.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/20231013_132749.jpg" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/20240330_180234.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/20240330_180234.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/20240330_180234.jpg" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/DSC_0628.JPG">
                <source media="(min-width: 601px)" srcset="/assets/images/DSC_0628.JPG">
                <img loading="lazy" decoding="async" src="/assets/images/DSC_0628.JPG" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/20220824_143505.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/20220824_143505.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/20220824_143505.jpg" alt="gallery" width="272" height="320">
            </picture>
        </div>
        <a href="/our-work#gallery-405" class="cs-button-solid">See More</a>
    </div>
</section>
                                
{% endblock %}